&zip_mouse_gesture {
    enable-eager-mode;
    stroke-size = <260>;
    movement-threshold = <6>;
    idle-timeout-ms = <200>;
    gesture-cooldown-ms = <120>;

    left_test  { pattern = <GESTURE_LEFT>;  bindings = <&kp A>; };
    right_test { pattern = <GESTURE_RIGHT>; bindings = <&kp D>; };
    up_test    { pattern = <GESTURE_UP>;    bindings = <&kp W>; };
    down_test  { pattern = <GESTURE_DOWN>;  bindings = <&kp S>; };
};
